*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "TTnorms-bold";
  src: url("fonts/TTNorms-Bold.woff2");
}

@font-face {
  font-family: "TTnorms-medium";
  src: url("/fonts/TTNorms-Medium.woff2");
}

@font-face {
  font-family: "TTnorms-regular";
  src: url("fonts/TTNorms-Regular.woff2");
}
header{
  background: transparent;
  position: absolute;
  /* left:-0;
  right: 0;
a  top: 0; */
  display: flex;
  /* width: 100%; */
}
/* .doordash{
  margin-top: 0px;
  margin-left: 850px;
} */
.top-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  
}
.top-nav img{
  width:222.6px;
  margin-left: 848.499px;
  margin-top: 19px;
  /* background-color: aqua; */
}
.nav-right{
  display: flex;
  /* margin-left: 90%; */
  margin-top: 16px;
  justify-content: space-between;
  max-width: px;
   padding: 0;
   margin-left: 653px;
   gap:9px

}
.nav-right button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 40px;
  width: 77px;
  border-radius: 24px;
  font-family: "TTnorms-bold" !important;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 100;
  line-height: 23px;
  padding: 8px;


}
.nav-right .signin{
    /* justify-content: flex-start; */
    border-radius: 24px;
    border: medium;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: rgb(235, 23, 0);
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(255, 255, 255);
    padding: 8px 8px 8px 8px;
    /* margin: ; */
  
}
.nav-right .signup{
  width:85px;
  height: 10px;
  background: white;
  border: 0;
  color: rgb(73, 73, 73);
  font-size: 17px;
  letter-spacing: 0.04ch;
}

.top{
  display: flex;
  flex-direction: column;
  width:100%;
  height:674px;
  /* background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.top img{
  object-fit: cover;
  height: 96.5%;
}
.center{
  display: flex;
  flex-flow: column;
  align-items: center;
}
h2{
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-family: "TTnorms-bold" !important;
  font-weight: 200;
  letter-spacing: -0.01;
  margin-top: -373px;
  max-width: 7500px;
  /* margin-left:-100px; */
}
.address{
  display: flex;
  background-color: white;
  margin-top: 24.8px;
  width:409px;
  height: 55.9px;
  border-radius: 28px;
  margin-left: px;
}
.address:hover{
  border:blue;
}
.address input{
  border: none;
  margin-left: 13px;
  font-family: "TTnorms-medium"!important;
  font-size: 16px;
  line-height: 22px;
}

.address .search{
  height:39px;
  width:39px;
  background-color: red;
  border:1px transparent;
  border-radius: 39px;
  right:0;
  margin-left:56px;
  margin-top:8px;
  font-size:1.1rem;
  color:#fff;
}

.address .search img{
  color: #fff;
}
.address img{
  width:24px;
  margin-left: 19.5px;
  height: 24px;
  margin-top: 15px;
}
.address .enter-addr{
  font-size: 16px;
}
.sav-addr{
  display: flex;
  /* background-color: aqua; */
  margin-top: 15.5px;
  align-items: center;
  padding: 0;
}
.sav-addr button{
  width:200px;
  background-color: #fff;
  border: none;
  height:32px;
  border-radius: 30px;
  font-size: 13.3333;
  font-weight: 400;
  font-family: "TTnorms-bold" !important;
}
.sav-addr button i{
  width: 16px;
  height: 16px;
  
}
/* main starts */
.main{
  margin:0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
.main .top-main {
  display: flex;
  align-items: center;
  flex-flow: row;
   min-width: 700px;
   max-width: 1000px;
   margin-left: 490px;
   /* margin-top: 400px; */
   gap:120px
}
.first{
  /* display: flex; */
  max-width: 250px;
  flex-direction: row;
}
.picture img{
  /* background-color: aqua; */
  height: 154px;
  width:154px;
  margin-top: 80px;
  margin-left:-9px ;
}
.discript {
  
 margin-top:375px ;
  width: 100%;
  max-width: 290px;
  margin-left:-40px;
}
.discript h2{
  font-family:"TTnorms-bold" !important ;
  color: black;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
.discript h3{
   margin-top: 10px;
  font-size: 18px;
  font-family: "TTnorms-medium" !important;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  /* display: block; */
}
.discript button{
  background: transparent;
  border:none;
  color: red;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-left:30px ;
  margin-top: 12px;
}
.main2{
  margin: 0;
  padding: 0;
}
.top-main .find-rest{
  padding: 100px;
  margin-top: 100px;
  /* background-color: aqua; */
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   background-color: #fff;
   max-width: 62%;
   min-width: 1000px;
   margin-left:280px;
   gap:30px
}
.find-rest .main-head{
   margin-top: 0;
   /* gap:20px; */
   margin-top: 80px;
   
}
.find-rest h2{
  color: black;
  display: flex;
  max-width: 90%;
  min-width: 20px;
  font-family: "TTnorms-bold" !important;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01px;
  font-weight: 500;
  margin-top: -100px;
  text-align: left;
  margin-bottom: 20px;
}
.find-rest h5{
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  font-family: "TTnorms-bold" !important;
  font-weight:00;
  text-align: left;
}
.find-rest span{
  font-family: "TTnorms-medium" !important;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin-top:0px;
  padding:0px 0px 0px 0px;
  /* background-color: aquamarine; */
}
.find-rest button{
  width: 145px;
  height: 40px;
  margin-top: 29px;
  background-color: #d91400ff;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  /* width: 100%; */
  font-family: "TTnorms-bold" !important;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
}
.find-rest img{
  margin-left: 10px;

}
/* thes */
.mid-main{
  display: flex;
  width: 100%;
  background-color: rgb(254, 241, 238);
   flex-direction: row;
   height: 604px;
   margin-top: -140px;
}
.daspass{
  /* background-color: aqua; */
  margin:0;
  margin-top: 80px;
  margin-left: 360px;
}
.daspass .img{
 /* margin-left: 400px; */
 width: 100%;
 
 
}
.img img{
  height: 500px;
}
.daspass .sec-head{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  margin-left: 785px;
  /* margin-top: 50px; */
  
}
.sec-head h2{
  max-width: 90%;
  /* margin-top: -120px; */
  font-size: 40px;
  line-height: 40px;
  font-family: "TTnorms-bold" !important;
  font-weight: 500;
  color: black;
  align-items: flex-end;
  /* margin-left: 900px; */
  width: 350px;
  padding: 10px;
}
.sec-head span{
  display: flex;
  padding: 10px;
  width: 400px;
  font-family:"TTnorms-medium" !important ;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}
.daspass button{
  width: 125px;
  height: 40px;
  margin-top: 22px;
  background-color: #d91400ff;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  /* width: 100%; */
  font-family: "TTnorms-bold" !important;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
  .mid-img{
  display: flex;
  width: 100%;
  height: 550px;
  /* background: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png"); */
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  /* margin-left: 200px;  */
  background-color: rgba(30, 30, 30, 0.6); 
  /* margin-top:-10px ; */
  /* background-color: aqua; */
}
   .img-content{
    display: flex;
    flex-flow: column;
    /* background-color: aliceblue; */
    position: relative;
    margin-top: 500px;
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
}
 .img-content h2{
     width: 350px;
     align-items: center;
     text-align: center;
     padding: 20px;
     font-family: "TTnorms-bold"!important;
     font-size: 40px;
     line-height: 40px;
   }
.img-content h4{
  color: #fff;
  font-family: "TTnorms-bold"!important;
  font-size: 20px;
  line-height: 24px;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
}
.img-content p{
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-family: "TTnorms-medium"!important;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
  width:530px;
  text-align: center;
  margin-top: 10px;

}
.button button {
  width: 125px;
  height: 40px;
  margin-top: 22px;
  background-color: #d91400ff;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  /* width: 100%; */
  font-family: "TTnorms-bold" !important;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
}
.main3{
  margin: 0;
}
.stor .shop{
  padding: 100px;
  margin-top: 100px;
  /* background-color: aqua; */
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   background-color: #fff;
   max-width: 62%;
   min-width: 1000px;
   margin-left:240px;
   gap:30px
}
.shop .head{
  margin-top: 0;
   /* gap:20px; */
   margin-top: 80px;
}
.shop h2{
  color: black;
  display: flex;
  max-width: 70%;
  min-width: 20px;
  font-family: "TTnorms-bold" !important;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01px;
  font-weight: 500;
  margin-top: -200px;
  text-align: left;
  margin-bottom: 20px;
}
.shop img{
  margin-top: -90px;
  margin-left:-0px;
  /* position: absolute; */
}

.shop span{
  font-family: "TTnorms-medium" !important;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.shop button{
  width: 95px;
  height: 40px;
  margin-top: 29px;
  background-color: #d91400ff;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  /* width: 100%; */
  font-family: "TTnorms-bold" !important;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
}
.four-pic{
  display: flex;
  background-color: rgb(254, 241, 238);
  margin: 0;
  padding: 0;
  margin-top: -100px;
  position: absolute;
}
.four-pic .first-pic{
margin-top:500px;
}
.first-pic .gift-head{
  justify-content: center;
  background-color: rgb(254, 241, 238);
  padding: 60px 20px 40px;
}
.gift-head h2{
  /* margin-top: 200px; */
  width:900px;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  font-family: "TTnorms-bold"!important;
}
.first-pic .gifting{
  display: flex;
 margin-top: 100px;
}
.first-img {
  display: flex;
}
.first-img img{
  width:1000px;
}
